---
- name: Install ucarp from deb
  ansible.builtin.apt:
    deb: "{{ item }}"
  register: __pkg_result
  retries: 12
  delay: 10
  until: __pkg_result is success
  environment:
    PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
  with_items:
    - "{{ ucarp_deb_pkgs }}"

- name: "Ensure configuration directory exists"
  ansible.builtin.file:
    path: '/etc/ucarp'
    state: directory
    mode: '0755'
