[Unit]
Description=ucarp daemon.
After=syslog.target network.target
StartLimitInterval=0

[Service]
Type=simple
ExecStart=/usr/sbin/ucarp \
{% if item.master is defined and item.master|bool %}  --preempt \
{% endif %}
  --shutdown \
  --neutral \
  --advskew={{ item.skew }} \
  --interface={{ item.interface }} \
  --vhid={{ item.instance }} \
  --pass={{ item.passwd }} \
  --addr={{ item.vip }} \
  --srcip={{ ansible_default_ipv4.address }} \
  --upscript=/etc/ucarp/{{ item.name }}-up.sh \
  --downscript=/etc/ucarp/{{ item.name }}-down.sh

KillMode=control-group
KillSignal=TERM
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
