#!/bin/sh

IPBIN="/sbin/ip"

CARPIF=$1
VIPv4=$2

for iface in ${CARPIF}
do
    echo "[INFO] Deleting VIP ${VIPv4} from interface ${iface}"
    ${IPBIN} a d ${VIPv4}/32 scope link dev ${iface}
done

{% if ucarp_extra_down_options %}
    {{ ucarp_extra_down_options|indent(4, False) }}
{% endif %}
